* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

html {
  scroll-behavior: smooth;
}

.contenido-principal {
  font-size: 22px;
}

.contenedor-header {
  background-color: #1e2326;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.contenedor-header header {
  max-width: 68.75em;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9375rem 1.25rem;
}

.contenedor-header header .logo a {
  font-size: 2.25em;
  color: white;
  text-decoration: none;
}

.contenedor-header header ul {
  display: flex;
  list-style: none;
}

.contenedor-header header nav ul li a {
  text-align: none;
  color: #fff;
  margin: 0 0.93rem;
  padding: 0.19rem;
  transition: .5s;
  text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
  background-color: #20207c;
  border-radius: 20px;
}

.nav-responsive {
  background-color: #1CB698;
  color: #fff;
  padding: 0.31rem 0.62rem;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.inicio {
  background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)), url(../img/program2.jpg);
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
}

.inicio .contenido-personal {
  padding: 1.25rem;
  background-color: #717a80;
  max-width: 22rem;
  margin: auto;
  text-align: center;
  border-radius: 40px;
}

.inicio .contenido-personal img {
  margin-top: 2.5rem;
  border: 10px solid #4a5861;
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 100%;
}

.inicio .contenido-personal h1 {
  font-size: 1.75em;
  margin-top: 2.5rem;
  color: #150b33;
}

.inicio .contenido-personal h2 {
  font-size: 1.4em;
  margin-top: 1.25rem;
  color: #150b33;
}

.inicio .contenido-personal .redes a {
  color: #150b33;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #1e2326;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 100%;
  line-height: 50px;
  margin: 1.25rem 0.31rem;
  font-size: 1.25rem;
  transition: .3s;
}

.inicio .contenido-personal .redes a:hover {
  background-color: #423f74;
  font-size: 2.5rem;
  color: white;
}
/*  a esto lo dejo como ejemplo de como aplicar media - a los 740px desaparece el header
@media only screen and (max-width: 740px) {
   For mobile phones: 
  [class*="header"] {
    display: none !important;
  }
}  */

.sobremi {
  background-color: #1e2326;
  color: white; 
  padding: 3.12rem 1.25rem;
}

.sobremi .contenido-seccion {
  max-width: 68.7rem;
  margin: auto;
}

.sobremi h2 {
  font-size: 2.6em;
  text-align: center;
  padding: 20px 0;
}

.sobremi .contenido-seccion  p {
  font-size: 1.75em;
  line-height: 1.375rem;
  margin-bottom: 1.25rem;
}

.sobremi p span{
  color: #1CB698;
  font-weight: bold;
}

.sobremi .fila {
  display: flex;
}

.sobremi .fila .columna {
  width: 50%;
}

.sobremi .fila .columna h3 {
  font-size: 1.75em;
  margin-top: 1.5625rem;
}

.sobremi .fila .columna ul li {
  list-style: none; 
  margin: 0.75rem 0;
}

.sobremi .fila .columna ul li strong {
  display: inline-block;
  color: #1CB698;
  width: 8.125rem;
}

.sobremi .fila .columna ul li span {
  background-color: #717a80;
  padding: 0.3125rem;
  border: 1px solid #1CB698; 
  border-radius: 7px; 
}

.sobremi .fila .columna .contenedor-intereses {
  display: flex;
  flex-wrap: wrap; 
}

.sobremi .fila .columna .contenedor-intereses .interes {
  width: 6.25rem;
  height: 6.25rem;
  background-color: #373f46;
  margin: 0 0.93rem 0.93rem 0;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .5s;
}

.sobremi .fila .columna .contenedor-intereses .interes:hover {
  background-color: #535a5e;
  color: #44b39c;
  font-size: 1.375rem;
}

.sobremi .fila .columna .contenedor-intereses .interes i{
  font-size: 20px;
  margin-bottom: 0.625rem;
}

.sobremi .contenido-seccion  button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #1CB698;
  display: block;
  width: fit-content;
  border-radius: 7px;
  padding: 0.4375rem 0.625rem;
  font-size: 1em;
  position: relative;
  z-index: 10;
  color: white;
}

.sobremi button .overlay {
  position: absolute;
  top: 0; 
  left: 0;
  width: 0;
  height: 100%;
  background-color: #717a80;
  z-index: -1; 
  transition: 0.8s;
}

.sobremi button:hover .overlay {
  width: 100%;
}

/* hay que ver por qué no aplica acá -error-/*
@media only screen and (max-width: 740px) {
   [class*= "parrafo"] {
   font-size: 12px;
   }
} */

.habilidades {
  background-color: #1e2326;
  color: white; 
  padding: 3.125rem 1.25rem;
}

.habilidades .contenido-seccion {
  max-width: 68.75rem;
  margin: auto;
}

.habilidades h2 {
  font-size: 2.6em;
  text-align: center;
  padding: 1.25rem 0;
}

.habilidades .fila {
  display: flex;
}

.habilidades .columna {
  width: 50%;
  padding: 0 1.25rem;
}

.habilidades .columna h4 {
  font-size: 24px;
  color: #1CB698;
}

.habilidad span {
  font-weight: bold;
  font-size: 1.25rem;
  display: block;
}

.habilidades .habilidad .barra{
  height: 0.5rem;
  width: 80%;
  background-color: #131517;
  position: relative;
  margin-bottom: 1.875rem;
}

.habilidades .habilidad .progreso{
  background-color: #1CB698;
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
}

.habilidades .habilidad .barra span{
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #1CB698;
  border-radius: 3.125rem;
  line-height: 2.5rem;
  text-align: center;
  top: -17px;
  right: -15px;
  font-size: 14px;
}

/* forwards sirve para que una vez de ejercutada la animacion el efecto se quede en esa posición y no regrese al inicio */

.habilidades .habilidad .teamwork {
  width: 0%;
  animation: 2s teamwork forwards; 
}
@keyframes teamwork {
  0%{width: 0%;}
  100%{width: 100%;}
}

.habilidades .habilidad .comunicacion {
  width: 0%;
  animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
  0%{width: 0%;}
  100%{width: 90%;}
}

.habilidades .habilidad .dedicacion {
  width: 0%;
  animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
  0%{width: 0%;}
  100%{width: 100%;}
}

.habilidades .habilidad .creatividad{
  width: 0%;
  animation: 2s creatividad forwards;
}
@keyframes creatividad {
  0%{width: 0%;}
  100%{width: 75%;}
}

.habilidades .habilidad .html{
  width: 0%;
  animation: 2s html forwards;
}
@keyframes html {
  0%{width: 0%;}
  100%{width: 75%;}
}


.habilidades .habilidad .css{
  width: 0%;
  animation: 2s css forwards;
}
@keyframes css {
  0%{width: 0%;}
  100%{width: 70%;}
}

.habilidades .habilidad .javascript{
  width: 0%;
  animation: 2s javascript forwards;
}
@keyframes javascript {
  0%{width: 0%;}
  100%{width: 70%;}
}

.habilidades .habilidad .react{
  width: 0%;
  animation: 2s react forwards;
}
@keyframes react {
  0%{width: 0%;}
  100%{width: 60%;}
}

.proyectos {
  background-color: #1e2326;
  color: white; 
  padding: 50px 20px;
}

.proyectos .contenedor-proyectos {
  max-width: 1100px;
  margin: auto;
}

.proyectos h2 {
  font-size: 3em;
  text-align: center;
  padding: 20px 0 50px 0;
}

.proyectos .fila {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.proyectos .fila .columna {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 10px;
  cursor: pointer;
}

.proyectos .fila .columna img{
  width: 350px;
  height: 350px;
  display: block;
}

.proyectos .fila .columna .overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .5s;
  font-size: 18px;
  letter-spacing: 3px;
  opacity: 0;
}

.proyectos .fila .columna .overlay h3 {
  margin-bottom: 20px;
  transition: 1s;
}

.proyectos .fila .columna .overlay:hover {
  opacity: 1.5;
}

.proyectos .fila .columna .overlay:hover h3 {
  margin-bottom: 0px;
}

@media screen and (max-width:  450px) {
  .fila {
    display: inline-block
  }
}

@media screen and (max-width: 650px) {
  .contenido-principal  {
    display: inline-block;
    width: 100%;
    font-size: .5rem;
  }
}

